
.close-modal{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.modal-content{
    border-radius: 25px;
    background: rgba(25,25,25,1);
    padding: 40px;
    color: #727272;
}
.modal-content h4{
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 16px;
}
.modal-form-outer{
    margin-bottom: 16px;
}
.modal-form-outer label{
    color: #fff;
    margin-bottom: 4px;
}
.modal-text{
    text-align: center;
    margin-bottom: 20px;
}
.modal-form-row{
    display: flex;
}
.modal-form-row .form-control{
    width: 50%;
}
.modal-form-row .dropdown{
    width: 50%;
}
.modal-form-row .form-control{
    border-radius: 10px;
    background-color: rgba(36,36,36,1);
    border: 0;
    margin-right: 10px;
    color:#fff;
}
.modal-form-row .dropdown button{
    width: 100%;
    color: #000;
    background-color: rgba(152,194,245,1);
    font-size: 16px;
    border-radius: 10px;
}
.swap_btm-2_btn {
    display: flex;
    margin-top: 16px;
}
.swap_btm-2_btn a{
    width: 50%;
    color: #fff;
    background-color: rgba(73,73,73,1);
}
.swap_btm-2_btn a:nth-child(1)
{
    margin-right: 10px;
}
.swap_modal .btn-main{
    display: flex;
    justify-content: center;
}
.swap_modal .modal-dialog{
    width: 400px;
}



/*** lotter***/
.lottery_modal .modal-dialog{
    width: 400px;
}
.lottery_modal .modal-form-row .form-control{
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.lottery_modal .modal-form-row .form-control::placeholder{
    color: #fff;
    font-weight: 400;
}
.lottery_modal .modal-form-row {
    position: relative;
}
.lottery_modal .modal-form-row span{
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.lottery_modal .modal-form-row span img{
    height: 18px;
    width: auto;
}
.modal-text-btm{
    margin: 0;
}


/** pastwinner**/
.pastwinner_modal .modal-dialog{
    max-width: 600px;
}
.pastwinner-row{
    margin-bottom: 20px;
}
.pastwinner-row h4{
    color: #fff;
    margin-bottom: 4px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}
.pastwinner-innerbx{
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #2f2f2f;
    padding: 20px;
}
.pastwinner-innerbx div span{
    color: #fff;
    min-width: 100px;
    display: inline-block;
}
.pastwinner-innerbx div {
    display: flex;
    word-break: break-all;
    margin-bottom: 8px;
}
.green{
    color:#49D191 !important;
}