*{
    font-family: 'Exo', sans-serif;
}
/* Scroll Bar Css Starts */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 0;
    background: #292929;
    border: 2px solid #ffffff;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb:active {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #616161;
  }
  /* Scroll Bar Css Ends */
  

nav{
    margin-bottom: 50px;
}
.btn-main{
    background:rgba(73,209,145,1);
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    padding: 10px 26px;
    font-weight: 600;
    cursor: pointer;
}
nav .btn-main{
    background: #fff;
}



footer{
    background-color: #0f0f0f;
    padding: 30px 50px;
}
footer .navbar{
    padding: 0px 50px 0 50px;
}
footer .left_nav{
    width: 100%;
}
footer .navbar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.comp-logo img{
    height: 20px;
    display: block;
    margin: auto;
    margin-top: 10px;
}



.mobile-hide{
    display: block;
}

.mobile-show{
    display: none;
}



.black-bx{
    background-color: #191919;
    border-radius: 16px;
    padding: 36px;
    font-size: 18px;
    color: #727272;
    margin-bottom: 16px;
    width: 100%;
}


.black-bx h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.black-bx h4 div{
    font-weight: 400;
    font-size: 14px;
}
.black-bx h4 div span{
    color: #727272;
}