*{
    font-family: 'Exo', sans-serif;
}
/* Scroll Bar Css Starts */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 0;
    background: #292929;
    border: 2px solid #ffffff;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb:active {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #616161;
  }
  /* Scroll Bar Css Ends */
  

nav{
    margin-bottom: 50px;
}
.btn-main{
    background:rgba(73,209,145,1);
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    padding: 10px 26px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav .btn-main{
    background: #fff;
}

.btn-main:hover{
    color: initial;
    transform: scale(1.07);
    
}

footer{
    background-color: #0f0f0f;
    padding: 30px 50px;
}
footer .navbar{
    padding: 0px 50px 0 50px;
    margin-bottom: 0;
}
footer .left_nav{
    width: 100%;
}
footer .navbar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.comp-logo img{
    height: 20px;
    display: block;
    margin: auto;
    margin-top: 10px;
}



.mobile-hide{
    display: block;
}

.mobile-show{
    display: none;
}



.black-bx{
    background-color: #191919;
    border-radius: 16px;
    padding: 36px;
    font-size: 18px;
    color: #727272;
    margin-bottom: 16px;
    width: 100%;
}


.black-bx h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.black-bx h4 div{
    font-weight: 400;
    font-size: 14px;
}
.black-bx h4 div span{
    color: #727272;
}

















/* .tooltip_outer {

  padding:12px;
  color: #ffffff26;

  transition: all .3s ease;
  text-transform: uppercase;
  text-decoration: none;
} */
.tooltip_outer:before {
  content: "";
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translate3d(0%, 0%, 0);
  transition: all .3s ease;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: pink transparent transparent transparent;
}
.tooltip_outer:after {
  text-transform: none;
  content: attr(data-tooltip);
  font-size: 14px;
  position: absolute;
  color: #fff;
  background: #282828;
  padding: 8px 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 200px;
  opacity: 0;
  pointer-events: none;
  right: 0%;
  top: 0;
  border-radius: 10px;
  transform: translate3d(0%, 0%, 0);
  transition: all .3s ease;
}

.tooltip_outer:hover:before, .tooltip_outer:hover:after {
  opacity: 1;
}
.tooltip_outer:hover:before {
  transform: translate3d(0%, 0, 0);
  opacity: 0
}
.tooltip_outer:hover:after {
  transform: translate3d(-10%, 50%, 0);
}

abbr[data-title] {
  position: relative;
  text-decoration: underline dotted;
}

abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;
  background: pink;
  color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding: 3px 5px;
}