@media(min-width:2560px){
	/*comman*/
	.container{
		max-width: 1280px;
	}
	/*comman end*/
}
@media(min-width:2000px) and (max-width:2560px){
	/*comman*/
	.container{
		max-width: 1280px;
	}
	/*comman end*/
}
@media(min-width:1800px) and (max-width:1999px){
	/*comman*/
	.container{
		max-width: 1280px;
	}
	/*comman end*/
}
@media(min-width:1551px) and (max-width:1799px){
	/*comman*/
	.container{
		max-width: 1280px;
	}
	/*comman end*/


	/***** exchange ***/
	.exchange-blck-bx-outer{
		flex-direction: column;
		margin: 0 00px;
	}
	.exchange-blck-bx-outer .Exchange_black-bx{
		margin: 0;
	}
	
}
@media(min-width:1351px) and (max-width:1550px){
	/*comman*/
	.container{
		max-width: 1280px;
	}
	.btn-main{
		font-size: 16px;
		padding: 8px 16px;
	}
	/*banner*/
	.banner-info h2{
		font-size: 50px;
		line-height: 60px;
	}
	.banner-info div{
		font-size: 16px;
		line-height: 24px;
	}



	/***** exchange ***/
	.exchange-blck-bx-outer{
		flex-direction: column;
		margin: 0 00px;
	}
	.exchange-blck-bx-outer .Exchange_black-bx{
		margin: 0;
	}
	.stake-table-outer .table-body-row{
		font-size: 14px;
	}
}
@media(min-width:1200px) and (max-width:1350px){
	/**** index****/
	.btn-main{
		font-size: 16px;
		padding: 8px 16px;
	}
	/*banner*/
	.banner-info{
		top: 50vh;
		transform: translateY(-45vh);
	}
	.banner-info h2{
		font-size: 50px;
		line-height: 60px;
	}
	.banner-info div{
		font-size: 16px;
		line-height: 24px;
	}




	/****	stakevote****/
	.form-group-outer .form-group div{
		display: flex;
		align-items: center;
	}
	.second_col .form-group img{
		height: 22px;
	}
	.form-group-outer input{
		width: auto;
	}


	/***** exchange ***/
	.exchange-blck-bx-outer{
		flex-direction: column;
		margin: 0 00px;
	}
	.exchange-blck-bx-outer .Exchange_black-bx:last-child{
		margin-bottom: 0 !important;
	}

	.stake-table-outer .table-body-row{
		font-size: 14px;
	}
	.stake-table-outer .table-body-row{
		font-size: 14px;
	}
	.exchange_first_row{
		flex-flow: wrap;
	}
	.exchangecol2, .exchangecol1{
		width: 50%;
		margin-top: 16px;
	}
	.exchangecol2{
		order: 3;
	}
	.exchangecol1{
		order: 2;	
	}
	.exchangecol1{
		padding-right: 8px;
	}
	.exchangecol2{
		padding-left: 8px;
	}
	.col-width-50{
		min-width: 100%;
		margin: 0;
	}

	
}
@media(min-width:1025px) and (max-width:1199px){
	.container{
		max-width: 1025px;
	}
	footer .navbar{
		padding: 0;
	}
	/**** index****/
	.btn-main{
		font-size: 16px;
		padding: 8px 16px;
	}
	/*banner*/
	.banner-info{
		top: 50vh;
		transform: translateY(-45vh);
		margin: 0 100px;
	}
	.banner-info h2{
		font-size: 40px;
		line-height: 60px;
	}
	.banner-info div{
		font-size: 16px;
		line-height: 24px;
	}
	.readystart-bx{
		font-size: 16px;
	}
	.roadmap-bx::after{
		right: -90px;
	}
	






	/****	stakevote****/
	.form-group-outer .form-group div{
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 8px;
	}
	.second_col .form-group img{
		height: 22px;
	}
	.form-group-outer input{
		width: auto;
	}
	.second_col .form-group-outer input{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		flex-direction: column;
	}
	.stake_first_row .form-group-outer .btn-main{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		align-items: flex-start;
	}
	.second_col .form-group-outer .form-group label{
		margin-bottom: 0;
	}
	.stake_second_row .form-group-outer .btn-main{
		width: inherit;
	}





	/***** exchange ***/
	.exchange-blck-bx-outer{
		flex-direction: column;
		margin: 0 00px;
	}
	.exchange-blck-bx-outer .Exchange_black-bx:last-child{
		margin-bottom: 0 !important;
	}

	.stake-table-outer .table-body-row{
		font-size: 14px;
	}
	.stake-table-outer .table-body-row{
		font-size: 14px;
	}
	.exchange_first_row{
		flex-flow: wrap;
	}
	.exchangecol2, .exchangecol1{
		width: 50%;
		margin-top: 16px;
	}
	.exchangecol2{
		order: 3;
	}
	.exchangecol1{
		order: 2;	
	}
	.exchangecol1{
		padding-right: 8px;
	}
	.exchangecol2{
		padding-left: 8px;
	}
	.col-width-50{
		min-width: 100%;
		margin: 0;
	}
}
@media(min-width:992px) and (max-width:1024px){
	nav .navbar-nav{
		flex-direction: column !important;
	}

	footer{
		padding: 30px 15px;
	}
	footer .navbar{
		flex-direction: column;
		margin-bottom: 20px;
	}
	footer .navbar-nav{
		position: relative;
		left: unset;
	transform: translateX(0%);
	
	}
	footer .navbar-brand{
		margin-right: 0 !important
	}
	footer .navbar-nav{
		flex-direction: row !important;
		margin: 14px 0;
	}

	footer .left_nav{
		flex-direction: column
	}
	footer .navbar{
		padding: 0 ;
	}
	footer .nav-social{
		margin: 10px auto;
	}


	.left_nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.mobile-hide{
		display: none;
	}
	
	.mobile-show{
		display: block;
	}






	/**** index****/
	.btn-main{
		font-size: 16px;
		padding: 8px 16px;
	}
	/*banner*/
	.banner-info{
		top: 50vh;
		transform: translateY(-45vh);
		margin: 0 100px;
	}
	.banner-info h2{
		font-size: 40px;
		line-height: 60px;
	}
	.banner-info div{
		font-size: 16px;
		line-height: 24px;
	}
	.readystart-bx{
		font-size: 16px;
	}
	.roadmap-bx::after{
		right: -90px;
	} 





	/****	stakevote****/
	.form-group-outer .form-group div{
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 8px;
	}
	.second_col .form-group img{
		height: 22px;
	}
	.form-group-outer input{
		width: auto;
	}
	.second_col .form-group-outer input{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		flex-direction: column;
	}
	.stake_first_row .form-group-outer .btn-main{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		align-items: flex-start;
	}
	.second_col .form-group-outer .form-group label{
		margin-bottom: 0;
	}
	.stake_second_row .form-group-outer .btn-main{
		width: inherit;
	}


	/***** exchange ***/
	.exchange-blck-bx-outer{
		flex-direction: column;
		margin: 0 00px;
	}
	.exchange-blck-bx-outer .Exchange_black-bx{
		margin-right: 0;
		margin-left: 0;
	}
	.exchange-blck-bx-outer .Exchange_black-bx:last-child{
		margin-bottom: 0 !important;
	}

	.stake-table-outer .table-body-row{
		font-size: 14px;
	}
	.exchange_first_row{
		flex-flow: wrap;
	}
	.exchangecol2, .exchangecol1{
		width: 50%;
		margin-top: 16px;
	}
	.exchangecol2{
		order: 3;
	}
	.exchangecol1{
		order: 2;	
	}
	.exchangecol1{
		padding-right: 8px;
	}
	.exchangecol2{
		padding-left: 8px;
	}
	.col-width-50{
		min-width: 100%;
		margin: 0;
	}
	

	
}
@media(min-width:768px) and (max-width:991px){
	nav .navbar-nav{
		flex-direction: column !important;
	}

	footer{
		padding: 30px 15px;
	}
	footer .navbar{
		flex-direction: column;
		margin-bottom: 20px;
	}
	footer .navbar-nav{
		position: relative;
		left: unset;
	transform: translateX(0%);
	
	}
	footer .navbar-brand{
		margin-right: 0 !important
	}
	footer .navbar-nav{
		flex-direction: row !important;
		margin: 14px 0;
	}

	footer .left_nav{
		flex-direction: column
	}
	footer .navbar{
		padding: 0 ;
	}
	footer .nav-social{
		margin: 10px auto;
	}


	.left_nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.mobile-hide{
		display: none;
	}
	
	.mobile-show{
		display: block;
	}
	/**** index****/
	.btn-main{
		font-size: 16px;
		padding: 8px 16px;
	}
	/*banner*/
	.banner-info{
		top: 50vh;
		transform: translateY(-45vh);
		margin: 0 100px;
	}
	.banner-info h2{
		font-size: 40px;
		line-height: 60px;
	}
	.banner-info div{
		font-size: 16px;
		line-height: 24px;
	}
	.readystart-bx{
		font-size: 16px;
	}
	/** roadmap**/
	.roadmap-bx::after{
		right: -70px;
		transform: scale(0.8);
	} 
	.roadmap-sec .col-md-3:nth-child(even) .roadmap-bx::after {
		top: 0px;
		transform: scale(-1)scale(0.8);
	}
	.roadmap-bx-info{
		font-size: 16px;
	}










	/****	stakevote****/
	.form-group-outer .form-group div{
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 8px;
	}
	.second_col .form-group img{
		height: 22px;
	}
	.form-group-outer input{
		width: auto;
	}
	.second_col .form-group-outer input{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		flex-direction: column;
	}
	.stake_first_row .form-group-outer .btn-main{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		align-items: flex-start;
	}
	.second_col .form-group-outer .form-group label{
		margin-bottom: 0;
	}
	.stake_second_row .form-group-outer .btn-main{
		width: inherit;
	}
	.staking-power-row{
		flex-direction: column;
	}
	.staking-powe-col2 {
		padding: 0 25vw;
		padding-top: 20px;
	}




	/***** exchange ***/
	.exchange-blck-bx-outer{
		flex-direction: column;
		margin: 0 00px;
	}
	.exchange-blck-bx-outer .Exchange_black-bx{
		margin-right: 0;
		margin-left: 0;
	}
	.exchange-blck-bx-outer .Exchange_black-bx:last-child{
		margin-bottom: 0 !important;
	}

	.stake-table-outer .table-body-row{
		font-size: 14px;
	}
	.exchange_first_row{
		flex-flow: wrap;
	}
	.exchangecol2, .exchangecol1{
		width: 50%;
		margin-top: 16px;
	}
	.exchangecol2{
		order: 3;
	}
	.exchangecol1{
		order: 2;	
	}
	.exchangecol1{
		padding-right: 8px;
	}
	.exchangecol2{
		padding-left: 8px;
	}
	.col-width-50{
		min-width: 100%;
		margin: 0;
	}





	
}
@media(min-width:448px) and (max-width:767px){
	nav .navbar-nav{
		flex-direction: column !important;
	}

	footer{
		padding: 30px 15px;
	}
	footer .navbar{
		flex-direction: column;
	}
	footer .navbar-nav{
		position: relative;
		left: unset;
	transform: translateX(0%);
	
	}
	footer .navbar-brand{
		margin-right: 0 !important
	}

	footer .left_nav{
		flex-direction: column
	}
	footer .navbar{
		padding: 0 ;
	}
	footer .nav-social{
		margin: 10px auto;
	}


	.left_nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}






	.mobile-hide{
		display: none;
	}
	
	.mobile-show{
		display: block;
	}
	/**** index****/
	.btn-main{
		font-size: 16px;
		padding: 8px 16px;
	}
	/*banner*/
	.banner-section{
		background-size: cover;
		background-position: top;
	}
	.banner-info{
		top: 50vh;
		transform: translateY(-25vh);
		margin: 0 60px;
		max-width: none;
	}
	.banner-info h2{
		font-size: 34px;
		line-height: unset;
	}
	.banner-info div{
		font-size: 16px;
		margin-bottom: 14px;
		line-height: 24px;
	}
	.readystart-bx{
		font-size: 16px;
	}
	.roadmap-bx::after{
		right: -90px;
	} 
	.left_nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.roadmap-bx::after{
		display: none;
	}
	.adv-bx{
		margin: 20px auto;
	}












		/****	stakevote****/
		.form-group-outer .form-group div{
			display: flex;
			align-items: center;
			width: 100%;
			margin-top: 10px;
			margin-bottom: 8px;
		}
		.second_col .form-group img{
			height: 22px;
		}
		.form-group-outer input{
			width: auto;
		}
		.second_col .form-group-outer input{
			width: 100%;
		}
		.second_col .form-group-outer .form-group{
			flex-direction: column;
		}
		.stake_first_row .form-group-outer .btn-main{
			width: 100%;
		}
		.second_col .form-group-outer .form-group{
			align-items: flex-start;
		}
		.second_col .form-group-outer .form-group label{
			margin-bottom: 0;
		}
		.stake_second_row .form-group-outer .btn-main{
			width: inherit;
		}
		.staking-power-row{
			flex-direction: column;
		}
		.staking-powe-col2 {
			padding: 0 15vw;
			padding-top: 20px;
		}




		/***** exchange ***/
	.exchange-blck-bx-outer{
		flex-direction: column;
		margin: 0 00px;
	}
	.exchange-blck-bx-outer .Exchange_black-bx{
		margin-right: 0;
		margin-left: 0;
	}
	.exchange-blck-bx-outer .Exchange_black-bx:last-child{
		margin-bottom: 0 !important;
	}

	.stake-table-outer .table-body-row{
		font-size: 14px;
	}

	.exchangecol2, .exchangecol1{
		width: 100%;
		margin-top: 16px;
	}
	.exchangecol2{
		order: 3;
	}
	.exchangecol1{
		order: 2;	
	}
	.exchangecol1 .black-bx{
		margin-bottom: 0;
	}
	.exchangecol1{
		padding-right: 0px;
	}
	.exchangecol2{
		padding-left: 0px;
	}
	.col-width-50{
		min-width: 100%;
		margin: 0;
	}
	.col-width-50 .table-head{
		min-width: 500px;
	}
	.col-width-50 .table-body{
		min-width: 500px !important;
	}
	.exchange_first_row{
		flex-direction: column;
	}
	.Exchange_row .table-head{
		min-width: 700px;
	}
	.Exchange_row .table-body{
		min-width: 700px !important;
	}

	/** modal***/
	.pastwinner-innerbx .medal{
		top: -5px;
		right: -12px;
	}

}
@media(max-width:447px){
	.navbar {
		justify-content: space-between;
		padding: 15px 15px 0 15px;
		margin-bottom: 0;
	}
	.nav_mobile_show{
		display: block;
	}


	footer{
		padding: 30px;
	}
	footer .navbar-nav{
		position: relative;
		left: unset;
    transform: translateX(0%);
	}
	footer .navbar-brand{
		margin-right: 0 !important
	}

	footer .left_nav{
		flex-direction: column;
		align-items: flex-start;
	}
	footer .navbar{
		padding: 0 ;
	}
	footer .nav-social{
		margin: 10px 0 10px 0;
	}









	.mobile-hide{
		display: none;
	}
	
	.mobile-show{
		display: block;
	}
	.black-bx{
		padding: 20px;
	}
	/**** index****/
	.btn-main{
		font-size: 16px;
		padding: 8px 16px;
	}
	/*banner*/
	.banner-section{
		background-size: cover;
		background-position: top;
	}
	.banner-info{
		margin: 0 60px;
		margin-top: 25vh !important;
		max-width: none;
	}
	.banner-info h2{
		font-size: 24px;
		line-height: unset;
	}
	.banner-info div{
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 24px;
	}
	.readystart-bx{
		font-size: 16px;
	}
	.roadmap-bx::after{
		right: -90px;
	} 
	.left_nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.roadmap-bx::after{
		display: none;
	}
	.adv-bx{
		margin: 20px auto;
	}
	.promote-sec h4, .advantage-sec h4, .roadmap-sec h4, .explore-sec h4{
		font-size: 32px;
		margin-bottom: 12px;
	}
	/** explore **/
	.explore-sec .table-body{
		min-width: 690px;
	}
	.explore-sec .table-head{
		min-width: 690px;
	}
	.explore-sec .table-head, .explore-sec .table-row{
		padding: 12px 20px;
	}
	.explore-sec .table-row {
		font-size: 14px;
	}
	.explore-sec{
		padding-top: 00px;
	}
	/* .explore-sec .section-info::before{
		height:70vw;
		width: 70vw;
		z-index: -1;
		border-radius: 50%;
		top: -12vw;
		left: -12vw;
		background-size: 100% 100%;
	} */

	.section-info{
		font-size: 16px;
	}
	.adv-bx-info{
		font-size: 16px;
		line-height: unset;
	}
	.adv-bx h4{
		font-size: 28px;
		margin-bottom: 10px;
	}
	.adv-bx img{
		width: 50px;
	}
	.roadmap-sec .roadmap-bx{
		margin-top: 30px !important;
	}
	.table-row, .table-head{
		font-size: 14px;
	}
	.table-row, .table-body{
		font-size: 14px;
	}
	/****	stakevote****/
	.form-group-outer .form-group div{
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 8px;
	}
	.second_col .form-group img{
		height: 22px;
	}
	.form-group-outer input{
		width: auto;
	}
	.second_col .form-group-outer input{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		flex-direction: column;
	}
	.stake_first_row .form-group-outer .btn-main{
		width: 100%;
	}
	.second_col .form-group-outer .form-group{
		align-items: flex-start;
	}
	.second_col .form-group-outer .form-group label{
		margin-bottom: 0;
	}
	.stake_second_row .form-group-outer .btn-main{
		width: inherit;
	}
	.staking-power-row{
		flex-direction: column;
	}
	.staking-powe-col2 {
		padding: 0 15vw;
		padding-top: 20px;
	}
	.stake_heading_main{
		margin-top: 40px;
	}
	.staking-powe-col1{
		font-size: 16px;
	}




		/***** exchange ***/
		.exchange-blck-bx-outer{
			flex-direction: column;
			margin: 0 00px;
		}
		.exchange-blck-bx-outer .Exchange_black-bx{
			margin-right: 0;
			margin-left: 0;
		}
		.exchange-blck-bx-outer .Exchange_black-bx:last-child{
			margin-bottom: 0 !important;
		}
	
		.stake-table-outer .table-body-row{
			font-size: 14px;
		}
	
		.exchangecol2, .exchangecol1{
			width: 100%;
			margin-top: 16px;
		}
		.exchangecol2{
			order: 3;
		}
		.exchangecol1{
			order: 2;	
		}
		.exchangecol1 .black-bx{
			margin-bottom: 0;
		}
		.exchangecol1{
			padding-right: 0px;
		}
		.exchangecol2{
			padding-left: 0px;
		}
		.col-width-50{
			min-width: 100%;
			margin: 0;
		}
		.col-width-50 .table-head{
			min-width: 500px;
		}
		.col-width-50 .table-body{
			min-width: 500px !important;
		}
		.exchange_first_row{
			flex-direction: column;
		}
		.Exchange_row .table-head{
			min-width: 700px;
		}
		.Exchange_row .table-body{
			min-width: 700px !important;
		}
		.btn_amount_selector{
			font-size: 11px;
			margin-left: 0;
			margin-right: 5px
		}


		/** modal***/
		.pastwinner-innerbx .medal{
			top: -5px;
			right: -12px;
		}

}

